
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="info-inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="site-info-wrap">
				<p>Официальный сайт интернет-магазина Италон</p>
			</div>
			<div class="copy-info-wrap">
				<p>© COPYRIGHT 2024 | ITALON - AO KERAMOGRANITNIJ ZAVOD STAROSITNENSKOE SHOSSE, 32 142800 STUPINO, MOSCOW REGION, RUSSIA”</p>
			</div>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li>
					<a href="" class="btn-menu">Каталог товаров</a>
					<ul>
						<li>
							<a href="" class="btn-submenu">Керамогранит</a>
						</li>
						<li>
							<a href="" class="btn-submenu">Настенная плитка</a>
						</li>
						<li>
							<a href="" class="btn-submenu">Уличный керамогранит</a>
						</li>
						<li>
							<a href="" class="btn-submenu">Керамогранит для настенного применения</a>
						</li>
						<li>
							<a href="" class="btn-submenu">Коллекции плитки</a>
						</li>
						<li>
							<a href="" class="btn-submenu">Поиск плитки по всем параметрам</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="" class="btn-menu">Информация</a>
					<ul>
						<li>
							<a href="" class="btn-submenu">Доставка</a>
						</li>
						<li>
							<a href="" class="btn-submenu">О компании</a>
						</li>
						<li>
							<a href="" class="btn-submenu">Вопросы и ответы</a>
						</li>
						<li>
							<a href="" class="btn-submenu">Политика конфиденциальности</a>
						</li>
						<li>
							<a href="" class="btn-submenu">Политика обработки персональных данный</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="" class="btn-menu">Контакты</a>
					<ul>
						<li>
							<a href="tel:88125787705" class="btn-submenu">+7(812)578-77-05</a>
						</li>
						<li>
							<div class="btn-submenu">с 11:00 до 21:00</div>
						</li>
						<li>
							<div class="btn-submenu">
								<a href="mailto:sav@salonatmosfera.ru">sav@salonatmosfera.ru</a> по&nbsp;любым вопросам
							</div>
						</li>
					</ul>
					<ul class="menu-soc">
						<li>
							<a href="" class="btn button-light">
								<div class="button-ico">
									<img src="./img/icons/soc-vk.svg" alt="">
								</div>
							</a>
						</li>
						<li>
							<a href="" class="btn button-light">
								<div class="button-ico">
									<img src="./img/icons/soc-yt.svg" alt="">
								</div>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="action-inner-wrap">
			<a href="" class="btn button-clear">
				<div class="button-ico">
					<img src="./img/icons/arrow-up.svg" alt="">
				</div>
				<div class="button-title">Наверх</div>
			</a>
		</div>
	</div>
</footer>
<!-- /footer -->